body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

#bgjpg{
    background-image:url(/images/new-building-3284911.jpg);
    height: 50vh;
    max-width: 3000px;
    
    background-size: contain;
    
    background-color: black;
    backdrop-filter: blur(2px);
    display: flex;
    
    
   
    
}
h2{
    color: white;
    text-align: left;
    padding-top: 50px;
}
p{
  color: white;  
  text-align: center;
}
#message1{
    height: 70vh;
    width: 500px;
    border-style: solid;
    margin: auto;
   
    margin-top: 30px;
    
    z-index: 30;
    border-radius: 10px;
    justify-content: center;
    display: block;
    align-items: center;
    margin-left: 200px;
    
}
.formdiv{
    height: 40vh;
   
}
#mapmessage{
    background-color: white;
}

input{
padding: 15px;
margin-top: 10px;
}
label{
    color: white;
}
textarea{
    width: 600px;
}
#contactbutton{
    width: 150px;
    height: 7vh;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    padding-top: 10px;
}
input, textarea, label{
    margin-right: 50px;
}
#map{
    width: 3000px;
    margin: auto;
    margin-left: 20px;
    object-fit: contain;
}
iframe{
    width: 3000px;
    margin: auto;
    margin-right: 20px; 
    height: 60vh;
}
#mapmessage{
    display: flex;
    height:60vh;
}
form{
   
    border: solid;
}
#contactfooter{
    margin-top: 280px;
    
    border-top: solid white;
}